#nabvar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem 1rem;
  background-color: #a4c639;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
/* logo */
#navbarLogo a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  text-decoration: none;
}
#navbarLogo img {
  max-width: 3.4em;
  align-self: center;
}
#navbarLogo h1 {
  font-size: 0.9em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(29, 121, 226);
  margin: 0;
  padding-left: 0.5em;
}
/* right links */
#navbarLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
}
#navbarList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  gap: 1em;
}
#navbarList li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
#navbarLinks #CNR {
  max-width: 3.5em;
}
#navbarLinks #CNAS {
  max-width: 3.1em;
}
