:root {
  --blue: rgb(29, 121, 226);
  --lightGreen: #a4c639;
  --darkGreen: #3fae2a;
}
html {
  overflow-y: scroll; /* add a space for the scrollbar */
}
body {
  background-color: rgb(185, 182, 182);
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 15rem;
}
.question {
  cursor: pointer;
}
.question {
  max-height: 1rem;
  transition: max-height 0.2s linear;
}
.question.open {
  max-height: 300rem;
}
