:root {
  --blue: rgb(29, 121, 226);
  --lightGreen: #a4c639;
  --darkGreen: #3fae2a;
}
html {
  overflow-y: scroll; /* add a space for the scrollbar */
}
body {
  background-color: rgb(185, 182, 182);
  margin: 0;
  padding: 0;
}
/* page content */
.container {
  margin-left: 15rem;
  font-size: 1rem;
}
.main-title {
  font-size: 1.6em;
}
.section {
  margin: 0em 0 1.8em 0;
}
.dropdown-arrows {
  font-size: 0.8em;
  padding-left: 0.3em;
}
.question {
  font-size: 1.2em;
  cursor: pointer;
  max-height: 1rem;
  transition: max-height 1s linear;
  margin: 0;
  /* line-height: 1; */
}
.question.open {
  max-height: 1rem;
}
/* answers */
.answer {
  font-size: 1.15em;
}
.container span {
  font-weight: bold;
}
.step-list {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-size: 1.1em;
}
